# Ignored folders
build/
dist/
venv/
VATSG setup/
Asset/
.vs/
lib/
pynsist_pkgs/
wheels/
# Ignored files
./*.py
*.pyc
*.pyo
__pycache__/
.idea/
*.spec
*.json
*.cfg
*.ico
*.whl
# Ignored OS-specific files
.DS_Store
Thumbs.db